# ==========================================
# Librarian Docker Configuration
# ==========================================

# Where is your Calibre library located on this machine?
# You can use an absolute path (e.g., /home/pi/Calibre_Library) 
# or a relative path (e.g., ../my-library)
HOST_CALIBRE_DIR=/path/to/your/calibre/folder

# A secure, random string used to encrypt user sessions
JWT_SECRET=super_secret_random_string_here